<mat-card>
  <mat-card-content class="summary">
    <!-- Container for datepicker and summary boxes -->
    <div class="controls-container">
      <form [formGroup]="dateRangeForm" class="date-picker-form picker-box">
        <mat-form-field appearance="fill">
          <mat-label>Choose a date range</mat-label>
          <mat-date-range-input [rangePicker]="picker">
            <input matStartDate formControlName="start" placeholder="Start date">
            <input matEndDate formControlName="end" placeholder="End date">
          </mat-date-range-input>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
        <button mat-button (click)="applyFilter()">Apply Filter</button>
      </form>

      <div class="summary-box">
        <mat-spinner *ngIf="totalSumIsLoading" diameter="45"></mat-spinner>
        <div *ngIf="!totalSumIsLoading">
        <h3>Total Sum</h3>
        <p>{{ totalSum | currency:'MXN'}}</p>
      </div>
      </div>
      <div class="summary-box">
        <mat-spinner *ngIf="enviosIsLoading" diameter="45"></mat-spinner>
        <div *ngIf="!enviosIsLoading">
        <h3>Shipping</h3>
        <p>{{ envios | currency:'MXN'}}</p>
      </div>
      </div>
      <div class="summary-box">
        <mat-spinner *ngIf="feesIsLoading" diameter="45"></mat-spinner>
        <div *ngIf="!feesIsLoading">
        <h3>Fees</h3>
        <p>{{ fees | currency:'MXN'}}</p>
      </div>
      </div>
      <div class="summary-box">
        <mat-spinner *ngIf="satSumIsLoading" diameter="45"></mat-spinner>
        <div *ngIf="!satSumIsLoading">
        <h3>SAT</h3>
        <p>{{ satSum | currency:'MXN'}}</p>
      </div>
      </div>
      <div class="summary-box realTotal">
        <mat-spinner *ngIf="realSumIsLoading" diameter="45"></mat-spinner>
        <div *ngIf="!realSumIsLoading">
        <h3>Real Sum</h3>
        <p>{{ realSum | currency:'MXN'}}</p>
      </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-content>
    <!-- Contenedor para el spinner y el chart -->
    <div class="chart-container">
      <!-- Spinner -->
      <mat-spinner *ngIf="isLoading" class="spinner"></mat-spinner>
      <!-- Chart -->
      <ag-charts-angular *ngIf="!isLoading" style="height: 650px; width: 100%;" [options]="options"></ag-charts-angular>
    </div>
    <!-- ... resto de tu contenido ... -->
  </mat-card-content>
</mat-card>
